:root * {
    /* default palette */
    --bg: #08070c;
    --tone: #17112a;
    --edge: #142c3d;
    --text: #2c98ab;
    --light: #7840d2;
}

body {
    /* default coloring */
    background-color: var(--bg);
    color: var(--text)
}

.footer-container {
    display: flex;
    position: relative;
    padding: 20px;
    color: var(--light);
    font-size: 5em;
}